/*
  font-family: 'Oswald', sans-serif;
  (font-weight: 200, 300, 400, 500)
  font-family: 'Roboto', sans-serif;
  (font-weight: 300, 400)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Creates a smooth scroll when indicator is clicked */
html {
  scroll-behavior: smooth;
}

/* ANIMATIONS */

/* Fade-in-down animation for header and hamburger icon */
@keyframes fade-in-down {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 0.9;
		transform: translate3d(0, 0, 0);
  }
}

/* Fade-in animation for side navigation element */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation for scroll indicator */
@keyframes scroll-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* NAVIGATION ELEMENTS */

/* Button which activates navigation element */
.menu-btn {
  animation: fade-in-down 3s ease-in-out;
  animation-delay: 3s;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid #ffffff;
}

/* Wrapper & border for hamburger icon, as well as adding centre line */
.menu-btn-burger {
  position: absolute;
  width: 50px;
  height: 6px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

/* Creates upper and lower lines for hamburger icon */
.menu-btn-burger:before,
.menu-btn-burger:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

/* Positions lower line of hamburger icon */
.menu-btn-burger:before {
  transform: translateY(-16px);
}

/* Positions upper line of hamburger icon */
.menu-btn-burger:after {
  transform: translateY(16px);
}

/* Animation of hamburger */
.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

/* Animates upper line of hamburger icon */
.menu-btn.open .menu-btn-burger:before {
  transform: rotate(45deg) translate(35px, -35px);
}

/* Animates lower line of hamburger icon */
.menu-btn.open .menu-btn-burger:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Styling of the menu navigation element */
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.7);
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s ease-in-out;
}

/* Navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Oswald', sans-serif;
}

/* When you mouse over the navigation links, they turn white */
.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Delay for each link in navigation */
.sidenav a:nth-child(1) {
  animation-delay: 0s;
}

.sidenav a:nth-child(2) {
  animation-delay: 0.5s;
}

.sidenav a:nth-child(3) {
  animation-delay: 1s;
}

.sidenav a:nth-child(4) {
  animation-delay: 1.5s;
}

/* LANDING PAGE & VIDEO */

/* Applies styling for landing page */
.showcase {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

/* Applies animation and styling to 'AI' header on landing page */
.showcase h1 {
  animation-name: fade-in-down;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  text-align: center;
  font-size: 8rem;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.9;
  text-shadow: 0px 8px 10px black;
}

/* Container for video */
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Applies correct positioning, sizing, and alignment for video */
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the user from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Applies a transluscent grey color over video */
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}

/* SCROLL INDICATOR */

/* Positions arrows */
.scroll-indicator {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Draws arrows */
.scroll-indicator span {
  opacity: 0;
  margin: -20px;
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
  animation: scroll-arrow 2s infinite;
}

/* Applies delayed effect to arrows */
.scroll-indicator span:nth-child(1) {
  animation-delay: 4s;
}

.scroll-indicator span:nth-child(2) {
  animation-delay: 4.2s;
}

.scroll-indicator span:nth-child(3) {
  animation-delay: 4.4s;
}

/* DEFAULT SECTION SETTINGS */

/* Positions and stylises header for section */
.section-heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

/* Creates light grey divider between header and columns */
.grey-divider {
  margin: 20px auto;
  background-color: #ededed;
  width: 40vh;
  height: 10px;
  border-radius: 10px;
}

/* Contains columns */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  padding: 5px;
  margin-top: 20px;
}

/* Applies flex property to each column */
.container div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
}

/* Applies specific flex properties to each column */
.column {
  flex: 1;
  align-items: center;
  background-color: #ededed;
  padding-top: 80px;
  border-radius: 10px;
  margin: 5px 20px 5px 20px;
}

/* Stylises icon within columns */
.icon {
  width: 24vh;
  border-radius: 50%;
  border: solid 4px white;
}

/* Positions and stylises header within columns */
.column-heading {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}

/* Positions and stylises subheader within columns */
.column-subhead {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 20px 40px 18% 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

/* MEDIA QUERIES */

/* Sizes video correctly to fill entire screen */
@media (min-aspect-ratio: 16/9) {
  .video-container video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container video {
    width: auto;
    height: 100%;
  }
}

/* Adjustments for mobile view */
@media only screen and (max-width: 768px) {

}
